@page{
    width: 4;
    height: 6;
    margin: 5mm 5mm 5mm 5mm;
    padding: 0 5mm 0 5mm;
    text-align: center;
}

p{
    margin: 0;
    color: black ;
}
.hr{
    border: 2px solid black;
}

.flexed{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
}