body{
    background-color: #333;
    color: white;
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    
}
html {
    /* background:rgb(2, 2, 2) url('https://rare-gallery.com/resol/1600x900/4573424-h-p.-lovecraft-cthulhu.jpg' )no-repeat center center fixed ; */
    background-position: 0 150px; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}