button[type="submit"],
input[type="submit"] {
  background: #0880a5;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 10px;
  align-items: center;
}

