button[type="submit"],
input[type="submit"] {
  background: #0880a5;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 13px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  align-items: center;
}



.form-check-label {
  margin-left: 7px;
}